sch/remt.001.001.05.rules.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
  xmlns:sqf="http://www.schematron-quickfix.com/validator/process">
  
  <ns prefix="remt" uri="urn:iso:std:iso:20022:tech:xsd:remt.001.001.05"/>
  
  <!-- remember that all XPath element steps must be prefixed with remt: -->
  
  <title>BPC constraints for remt.001.001.05 instances</title>

  <pattern>
    <rule context="/remt:future-work-here"/>
  </pattern>

</schema>